$c-xiketic: #0a0410;
$c-darker-purple: #190b28;
$c-dark-purple: #2d1e37;
$c-english-violet: #413145;
$c-eggplant: #554454;
$c-old-lavender: #685762;
$c-cultured: #f6f4f5;

body {
    background-color: var(--c-cultured);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}
